<div>
  <h6>Метод формування черг:</h6>
  <p>{{ statisticModel?.queueAlgorithm }}</p>
</div>
<div>
  <h6>Час виконання задачі на одному процесорі:</h6>
  <p>{{ statisticModel?.onOneCoreTime }}</p>
</div>
<div>
  <h6>Час виконання задачі на заданій КС:</h6>
  <p>{{ statisticModel?.onSystemTime }}</p>
</div>
<div>
  <h6>Критичний час:</h6>
  <p>{{ statisticModel?.criticalTime }}</p>
</div>
<div>
  <h6>Коефіцієнт прискорення:</h6>
  <p>{{ statisticModel?.accelerationCoefficient }}</p>
</div>
<div>
  <h6>Коефіцієнт ефективності системи:</h6>
  <p>{{statisticModel?.systemEfficiencyCoefficient}}</p>
</div>
<div>
  <h6>Коефіцієнт ефективності алгоритму планування:</h6>
  <p>{{statisticModel?.plannerEfficiencyCoefficient}}</p>
</div>
