#mynetwork {
    width: 1200px;
    height: 1600px;
    border: 1px solid lightgray;
    margin-top: 40px;
}

.container {
    margin: 20px;
}

.result-container {
    margin-top: 30px;
}

.error-container {
    color: red
}

.evaluated-container {
    color: blue
}

#submit-btn {
    margin-top: 10px;
}

.result-container {
    margin-bottom: 40px;
}

.statistic-container {
    margin-bottom: 40px;
}
